div.panes {
    margin: 50px 150px;
}

div.input {
    width: 200px;
    margin-left: 150px;
    float: left;
}
div.output {
    margin-left: 730px;
    margin-right: 150px;
}
.title {
    text-align: center;
}

.clear {
    clear: both;
}

.panes {
   margin: 20px 100px;
}
